@using Engnest.Entities.Common;
@model Engnest.Entities.ViewModels.HomeModel
<div class="content-container container" style="transform: none;">
	<div class="ad-placement-header-footer">
	</div>
	<div id="contnet" style="transform: none;">
		<div class="page-margin" style="transform: none;">
			<div class="row" style="transform: none;">
				<div class="col-md-2 leftcol" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 525px;">


					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: fixed; transform: translateY(65px); left: 99px; top: 0px; width: 156.719px;">
						<div class="left-sidebar">
							<ul>
								<li>
									<a href="/profile?id=@Model.Profile.ID" data-ajax="?link1=timeline&amp;u=0dc53e223">
										<img alt="Onl Hero Profile Picture" src="@Model.Profile.Avatar">@Model.Profile.NickName
									</a>
								</li>
								<li>
									<a href="/" data-ajax="?index.php?link1=home">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#3D8CFA" d="M26.7 11.3L25 9.9V6c0-.6-.4-1-1-1h-1c-.6 0-1 .4-1 1v1.4l-6.3-5.2c-.2-.1-.4-.2-.7-.2s-.5.1-.7.3l-11 9c-.2.2-.3.4-.3.7 0 .6.4 1 1 1h1v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V13h1c.6 0 1-.4 1-1 0-.3-.1-.5-.3-.7zM22 23h-4v-8h4v8z"></path></svg> News Feed
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-7 profile-lists middlecol">
					<form action="#" method="post" class="post publisher-box" id="publisher-box-focus">
						<div class="panel post panel-shadow sun_pub_box">
							<div id="post-textarea" onclick="Wo_ShowPosInfo();">
								<img class="post-avatar" src="@Model.Profile.Avatar">
								<div class="sun_pub_name">
									<span>@Model.Profile.NickName</span>
								</div>
								<i class="fa fa-spinner fa-spin" id="loading_indicator"></i>
								<textarea name="postText" class="form-control postText ui-autocomplete-input" cols="10" rows="3" placeholder="Bạn đang nghĩ gì?" dir="auto" style="height: 112px;" autocomplete="off"></textarea>
								<!--Add Emojis-->
							</div>
							<!--Publisher Box Footer-->
							<div id="image-holder" style="position:relative;">
								<div id="album-form">
									<div class="publisher-hidden-option">
										<input name="album_name" type="text" class="form-control" placeholder="Album name">
									</div>
								</div>
								<div class="publisher-hidden-option" id="photo-form">
									<div style="overflow-x: auto;"><div id="image-holder-post"></div></div>
								</div>
								<div class="publisher-hidden-option" id="audio-form">
									<div style="overflow-x: auto;"><div id="audio-holder-post"></div></div>
								</div>
							</div>


							<!--Publisher Box Footer-->
							<div class="publisher-box-footer">

								<div class="sun_pub_more">
									<div class="sun_pub_more_items">
										<!--Uploaded Image-->
										<div class="poster-left-buttons">
											<span class="btn btn-file img">
												<span><img src="https://biztime.com.vn/themes/biztime-s/img/icons/pub-img.svg" alt="Kèm ảnh">
												</span>
												Kèm ảnh
												<input type="file" class="publisher-photos" data-photos="image-holder-post" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
											</span>
										</div>

									</div>
									<div data-audio="audio-holder-post" class="sun_pub_more_items" id="recordPostAudioWrapper">
										<div class="poster-left-buttons">
											<span class="btn btn-file rec">
												<span id="recordPostAudio" data-audio="audio-holder-post" data-record="0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path><path d="M19 10v2a7 7 0 0 1-14 0v-2"></path><line x1="12" y1="19" x2="12" y2="23"></line><line x1="8" y1="23" x2="16" y2="23"></line></svg></span> Ghi âm
											</span>
											<span id="postRecordingTime" class="hidden">00:00</span>
										</div>
									</div>
								</div>

								<div class="pub-footer-bottom">
									<div class="pull-right">
										<button type="button" onclick="PushPost(@Model.Profile.ID,@TypePost.USER)" id="publisher-button" class="btn btn-main">
											<span>Chia sẻ</span>
										</button>
									</div>

									<div class="pull-right"><div class="ball-pulse"><div></div><div></div><div></div></div></div>

									<div id="status"></div>

									<div class="pull-left">
										<div class="poster-left-select">
											<div class="publisher-hidden-option inputsm">
												<div class="sun_pub_privacy">
													<div class="sun_pub_privacy_dropdown">
														<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Mọi Người</p>
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>

													</div>
													<ul class="sun_pub_privacy_menu">
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="3" value="3">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"></path></svg> Chỉ Mình Tôi</span>
															</label>
														</li>
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="0" value="0" checked="">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Mọi Người</span>
															</label>
														</li>
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="1" value="1">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z"></path></svg> Bạn của tôi</span>
															</label>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>

									@*<div class="pull-left charsLeft-post"><span id="charsLeft">5000</span></div>*@

									<div class="clear"></div>
								</div>
							</div>
						</div>
						<input type="hidden" name="hash_id" value="83c1b24c6399b8284b114fb23fa4a965446d27fc">
						<input type="hidden" name="postRecord" value="" id="postRecord">
						<input type="hidden" name="postSticker" value="" id="postSticker" onchange="alert(this.value)">
					</form>
					<div id="empty_post" class="wo_my_pages">
						<div>
							<h5 class="search-filter-center-text empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg> Chưa có trang nào</h5>				<div class="clear"></div>
						</div>
					</div>
					<div id="posts"></div>
					<div class="load-more pointer" style="display:none;">
						<div class="white-loading list-group">
							<div class="no-more-posts-to-show">No more posts</div>
						</div>
					</div>
				</div>
				<div class="sidebar-conatnier col-md-3 rightcol sidebar_fixed no-padding-left" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
						<div class="sidebar">
							<div class="page-margin">
								<div class="footer-wrapper sidebar">
									<div class="footer-powered">
										<p>
											© 2019 Mạng Xã Hội Việt Nam
										</p>
									</div>
									<ul class="list-inline pull-left">
										<li>@Html.ActionLink("Timeline", "", "Home")</li>
										<li>@Html.ActionLink("Giới thiệu", "about_us", "Home")</li>
										<li>@Html.ActionLink("Liên hệ", "contact-us", "Home")</li>
										<li>@Html.ActionLink("Bảo mật", "privacy-policy", "Home")</li>
										<li>@Html.ActionLink("Điều khoản", "terms", "Home")</li>
										<li>@Html.ActionLink("FAQ", "faq", "Home")</li>
									</ul>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts {
	<script>
		var dateGetPost = "";
		$(document).ready(function () {
			LoadMorePost();
			LoadListGroup();
		$(window).scroll(function (event) {
			if (($(window).scrollTop() + 500) > $("#posts").height() && checkLoadPost == false)
				LoadMorePost(dateGetPost);
		});
		});
		function LoadMorePost(date) {
		checkLoadPost = true;
        $.ajax({
            url: "/Home/LoadMorePost",
            type: "GET",
            data: { date: date },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					if (date == undefined && result.data.length != 0) {
						$("#empty_post").hide();
					}
					if (result.data.length == 0) {
						checkLoadPost = true;
						$(".load-more").show();
						return;
					}
					if (result.data.length < 10) {
						checkLoadPost = true;
						$(".load-more").show();
					}
					$(".load-more").hide();
					debugger
					dateGetPost = parseInt(result.data[result.data.length - 1].CreatedTime.substr(6)) ;
					let tmpl = $('#my-template').html();
					var commenttp = $('#comment-template').html();
					Mustache.parse(tmpl);
					Mustache.parse(commenttp);
					result.data.forEach((item) => {
						if (item.CreatedTime != null) {
							item.CreatedTime = time_ago(new Date(parseInt(item.CreatedTime.substr(6))));
						}
						let rendered = Mustache.render(tmpl, item);
						$("#posts").append(rendered);
						item.ListComments.forEach((comment) => {
							if (comment.CreatedTime != null) {
								comment.CreatedTime = time_ago(new Date(parseInt(comment.CreatedTime.substr(6))));
							}
							var rendercomment = Mustache.render(commenttp, comment);
							$("#comments-list-" + item.Id).append(rendercomment);
						});
						if(item.StatusEmotion == 1)
							$("#LikeAction_" + item.Id).addClass("active-like");
					});
					var ids = result.data.map(function(item) {
					  return item['Id'];
					});
					LoadMoreComment(ids, "", 3);
				}
				else {
				}
				checkLoadPost = false;
            },
			error: function (data) {
				checkLoadPost = false;
            }
        });
			}
	function LoadListGroup() {
        $.ajax({
            url: "/Group/LoadListGroup",
            type: "GET",
            data: { },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					result.data.forEach((item) => {
						var html = '<li>'+
									'<a href="/Group?id='+item.ID+'" data-ajax="?index.php?link1=home">'+
										'<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="#3D8CFA" d="M26.7 11.3L25 9.9V6c0-.6-.4-1-1-1h-1c-.6 0-1 .4-1 1v1.4l-6.3-5.2c-.2-.1-.4-.2-.7-.2s-.5.1-.7.3l-11 9c-.2.2-.3.4-.3.7 0 .6.4 1 1 1h1v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V13h1c.6 0 1-.4 1-1 0-.3-.1-.5-.3-.7zM22 23h-4v-8h4v8z"></path></svg>'+ item.GroupName +
									'</a>'+
								'</li>';
						$(".left-sidebar ul").append(html);
					});
				}
				else {
				}
				checkLoadPost = false;
            },
			error: function (data) {
				checkLoadPost = false;
            }
        });
		}
	</script>
	}
