@using Engnest.Entities.Common;
@model Engnest.Entities.ViewModels.HomeModel
	<style>
		.ui.normal.dropdown{
			width:100%;
			margin-bottom:20px;
		}
		.ui.normal.dropdown .disabled {
			color: #4267b2 !important;
			background: #e0e1e2 !important;
			opacity: 1!important;
		}
	</style>

<div class="content-container container" style="transform: none;">
	<div class="ad-placement-header-footer">
	</div>
	<div id="contnet" style="transform: none;">
		<div class="page-margin" style="transform: none;">
			<div class="row" style="transform: none;">
				<div class="col-md-2 leftcol" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 525px;">


					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: fixed; transform: translateY(65px); left: 40px; top: 0px; width: 156.719px;">
						<div class="left-sidebar">
							<ul>
								<li>
									<a style="font-weight: bold;" href="/profile?id=@Model.Profile.ID" data-ajax="?link1=timeline&amp;u=0dc53e223">
										<img alt="Onl Hero Profile Picture" src="@Model.Profile.Avatar">@Model.Profile.NickName
									</a>
								</li>
								<li>
									<a style="font-weight: bold;" href="/" data-ajax="?index.php?link1=home">
										<img style="margin-top: -8px;" src="/assets/images/logoEngnest.png" alt="Mạng Xã Hội Việt Nam Logo">News Feed
									</a>
								</li>
								<li style="padding-top: 10px;padding-left: 6px;">
									<a style="font-weight: bold;padding: 0px;margin: 0px;margin-bottom: 10px;font-size: inherit;color: #4267b2;" onclick="PopupCreatedGroup()">
										Create a new Group
									</a>
								</li>
							</ul>
							<ul class="manage-group">
								<li style="font-weight: bold;padding-left: 6px;">
									Groups you manage
								</li>

							</ul>
							<ul class="you-in-group">
								<li style="font-weight: bold;padding-left: 6px;">
									Groups you're in
								</li>

							</ul>
						</div>
					</div>
					
				</div>
				<div class="col-md-7 profile-lists middlecol">
					@*<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
						<div class="jp-type-single">
							<div class="jp-gui jp-interface">
								<div class="jp-controls">
									<button class="jp-play" role="button" tabindex="0">play</button>
								</div>
								<div class="jp-progress">
									<div class="jp-seek-bar">
										<div class="jp-play-bar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>*@
					<form action="#" method="post" class="post publisher-box" id="publisher-box-focus">
						<div class="panel post panel-shadow sun_pub_box">
							<div id="post-textarea" onclick="Wo_ShowPosInfo();">
								<img class="post-avatar" src="@Model.Profile.Avatar">
								<div class="sun_pub_name">
									<span>@Model.Profile.NickName</span>
								</div>
								<i class="fa fa-spinner fa-spin" id="loading_indicator"></i>
								<textarea name="postText" class="form-control postText ui-autocomplete-input" cols="10" rows="3" placeholder="Share what you think, interact with people …" dir="auto" style="height: 112px;" autocomplete="off"></textarea>
								<!--Add Emojis-->
							</div>
							<!--Publisher Box Footer-->
							<div id="image-holder" style="position:relative;">
								<div id="album-form">
									<div class="publisher-hidden-option">
										<input name="album_name" type="text" class="form-control" placeholder="Album name">
									</div>
								</div>
								<div class="publisher-hidden-option" id="photo-form">
									<div style="overflow-x: auto;"><div id="image-holder-post"></div></div>
								</div>
								<div class="publisher-hidden-option" id="video-form">
									<div style="overflow-x: auto;"><div id="video-holder-post"></div></div>
								</div>
								<div class="publisher-hidden-option" id="audio-form">
									<div style="overflow-x: auto;"><div id="audio-holder-post"></div></div>
								</div>
							</div>


							<!--Publisher Box Footer-->
							<div class="publisher-box-footer">

								<div class="sun_pub_more">
									<div class="sun_pub_more_items">
										<!--Uploaded Image-->
										<div class="poster-left-buttons">
											<span class="btn btn-file img">
												<span>
													<i class="fa fa-picture-o fa2" aria-hidden="true" style="font-size: 20px;color: #4d91ea;"></i>
												</span>
												Pictures
												<input type="file" class="publisher-photos" data-photos="image-holder-post" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
											</span>
										</div>

									</div>
									<div class="sun_pub_more_items">
										<!--Uploaded Image-->
										<div class="poster-left-buttons">
											<span class="btn btn-file img">
												<span>
													<img src="/assets/images/video-player.svg" alt="Pictures">
												</span>
												Video
												<input onchange="GetVideo(this)" type="file" id="upload-video" data-photos="image-holder-post" accept="" name="video" multiple="multiple">
											</span>
										</div>

									</div>
									<div data-audio="audio-holder-post" class="sun_pub_more_items" id="recordPostAudioWrapper">
										<div class="poster-left-buttons">
											<span class="btn btn-file rec">
												<span id="recordPostAudio" data-audio="audio-holder-post" data-record="0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path><path d="M19 10v2a7 7 0 0 1-14 0v-2"></path><line x1="12" y1="19" x2="12" y2="23"></line><line x1="8" y1="23" x2="16" y2="23"></line></svg></span> Record
											</span>
											<span id="postRecordingTime" class="hidden">00:00</span>
										</div>
									</div>
								</div>

								<div class="pub-footer-bottom">
									<div class="pull-right">
										<button type="button" onclick="PushPost(@Model.Profile.ID,@TypePost.USER)" id="publisher-button" class="btn btn-main">
											<span>Share</span>
										</button>
									</div>

									<div class="pull-right"><div class="ball-pulse"><div></div><div></div><div></div></div></div>

									<div id="status"></div>

									<div class="pull-left">
										<div class="poster-left-select">
											<div class="publisher-hidden-option inputsm">
												<div class="sun_pub_privacy">
													<div class="sun_pub_privacy_dropdown">
														<p style="margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Public</p>
														@*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>*@

													</div>
													@*<ul class="sun_pub_privacy_menu">
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="3" value="3">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"></path></svg> Chỉ Mình Tôi</span>
															</label>
														</li>
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="0" value="0" checked="">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Public</span>
															</label>
														</li>
														<li>
															<label>
																<input type="radio" class="option-input radio" name="postPrivacy" id="1" value="1">
																<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z"></path></svg> Bạn của tôi</span>
															</label>
														</li>
													</ul>*@
												</div>
											</div>
										</div>
									</div>

									@*<div class="pull-left charsLeft-post"><span id="charsLeft">5000</span></div>*@

									<div class="clear"></div>
								</div>
							</div>
						</div>
						<input type="hidden" name="hash_id" value="83c1b24c6399b8284b114fb23fa4a965446d27fc">
						<input type="hidden" name="postRecord" value="" id="postRecord">
						<input type="hidden" name="postSticker" value="" id="postSticker" onchange="alert(this.value)">
					</form>
					<div id="empty_post" class="wo_my_pages">
						@*<div>
								<h5 class="search-filter-center-text empty_state"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-flag"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg> Chưa có trang nào</h5>				<div class="clear"></div>
							</div>*@
					</div>
					<div id="posts"></div>
					<div class="load-more pointer" style="display:none;">
						<div class="white-loading list-group">
							<div class="no-more-posts-to-show">No more posts</div>
						</div>
					</div>
				</div>
				<div class="sidebar-conatnier col-md-3 rightcol sidebar_fixed no-padding-left" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
					@if (string.IsNullOrEmpty(Model.Profile.Category))
					{
						<h3 class="sun_side_widget_title">
							<i class="fa fa-user-plus"></i>
							<span style="font-weight: bold;" >Update your list of hobbies to make new friends</span>
							<a style="background: #4267b2;color: white;float: right;" class="ui label" onclick="SaveHobbies()">Save</a>
						</h3>
						<select style="width:100%;margin-bottom:10px;" multiple="" id="Hobbies" name="Hobbies" class="ui normal dropdown">
							<option disabled value="">List of hobbies</option>
							<option disabled value="Sciences">Sciences</option>
							<option value="Mathematics">Mathematics</option>
							<option value="Physics">Physics</option>
							<option value="Chemistry">Chemistry</option>
							<option value="Biology">Biology</option>
							<option value="Geography">Geography</option>
							<option value="Literature">Literature</option>
							<option value="History">History</option>
							<option value="Philosophy">Philosophy</option>
							<option value="Politics">Politics</option>
							<option disabled value="Entertainments">Entertainments</option>
							<option value="Movies-Films-Manga">Movies/Films/Manga</option>
							<option value="TVShows">TV Shows</option>
							<option value="Drama">Drama</option>
							<option value="Pets-Petting">Pets/Petting</option>
							<option disabled value="Technology">Technology</option>
							<option value="Information-Technology">Information Technology (IT)</option>
							<option value="Electronics">Electronics</option>
							<option value="Artificial-Intelligence">Artificial Intelligence (AI)</option>
							<option value="High-tech">High-tech</option>
							<option disabled value="Sports">Sports</option>
							<option value="Football">Football</option>
							<option value="Volleyball">Volleyball</option>
							<option value="Basketball">Basketball</option>
							<option value="Baseball">Baseball</option>
							<option value="Tennis">Tennis</option>
							<option value="Badminton">Badminton</option>
							<option value="Golf">Golf</option>
							<option value="Athletics">Athletics</option>
							<option value="Racing">Racing</option>
							<option value="Gym">Gym</option>
							<option value="Yoga">Yoga</option>
							<option value="Meditation">Meditation</option>
							<option disabled value="Housework">Housework</option>
							<option value="Food-Cuisine">Food/Cuisine</option>
							<option value="Handicraft">Handicraft (Handmade)</option>
							<option value="Pets">Pets</option>
							<option disabled value="Art">Art</option>
							<option value="Architecture">Architecture</option>
							<option value="Music">Music</option>
							<option value="Sculpture">Sculpture</option>
							<option value="Painting">Painting</option>
							<option value="Poetry">Poetry</option>
							<option value="Singing">Singing</option>
							<option value="Dancing">Dancing</option>
							<option value="Photography">Photography</option>
							<option value="Fashion">Fashion</option>
							<option value="Magic">Magic</option>
							<option value="Design">Design</option>
							<option disabled value="Economics">Economics</option>
							<option value="Banking">Banking</option>
							<option value="Stock">Stock</option>
							<option value="Real-estate">Real estate</option>
							<option value="Commerce">Commerce</option>
							<option disabled value="Martial Arts">Martial Arts</option>
							<option value="MMA">MMA</option>
							<option value="Chinese Martial Art">Chinese Martial Art</option>
							<option value="Taekwondo">Taekwondo</option>
							<option value="Boxing">Boxing</option>
							<option value="Judo">Judo</option>
							<option value="Jujutsu">Jujutsu</option>
							<option value="Muay-Thai">Muay Thai</option>
							<option value="Brazilian-Jujutsu">Brazilian Jujutsu</option>
							<option value="Kickboxing">Kickboxing</option>
							<option value="Aikido">Aikido</option>
							<option value="Jeet-Kune-Do">Jeet Kune Do</option>
							<option value="Wing-Chun">Wing Chun</option>
							<option value="Tai-Chi">Tai Chi</option>
							<option value="Krav-Maga">Krav Maga</option>
							<option value="Shaolin-Kungfu">Shaolin Kungfu</option>
							<option disabled value="Games">Games</option>
							<option value="Fortnite">Fortnite</option>
							<option value="PlayerUnknown-Battlegrounds">PlayerUnknown's Battlegrounds (PUBG)</option>
							<option value="PUBG-Mobile">PUBG Mobile</option>
							<option value="DOTA2">DOTA2</option>
							<option value="Counter-Strike">Counter-Strike (CS)</option>
							<option value="Hitman-2">Hitman 2</option>
							<option value="Monster-Hunter">Monster Hunter</option>
							<option value="League-of-Legends">League of Legends (LOL)</option>
							<option value="Grand-Theft-Auto">Grand Theft Auto (GTA)</option>
							<option value="Warframe">Warframe</option>
							<option value="AOE">Age of Empires (AOE)</option>
							<option value="PES">PES</option>
							<option value="FIFA">FIFA</option>
							<option value="Clash-of-Clans">Clash of Clans</option>
							<option value="Overwatch">Overwatch</option>
							<option value="Call-of-Duty">Call of Duty</option>
							<option value="Garena-Free-Fire">Garena Free Fire</option>
							<option value="Age-of-Wulin">Cửu Âm Chân Kinh - Age of Wulin</option>
							<option value="NKGH">Nhất Kiếm Giang Hồ</option>
							<option value="TLBB">Thiên Long Bát Bộ</option>
							<option value="VL1">Võ lâm 1</option>
							<option value="VL2">Võ lâm 2</option>
							<option value="VL3">Võ lâm 3</option>
							<option value="TSKH">Thục Sơn Kỳ Hiệp</option>
							<option value="LH">Liệt Hỏa</option>
						</select>

					}
					@if (Model.Profile.Lat == null || Model.Profile.Lng == null)
					{

					<ul class="list-group sun_side_widget" id="sidebar-request-list-container">
						<div style="padding: 10px;margin: 0px;">
							<i class="fa fa-user-plus"></i>
							<span style="color:#333;font-weight: bold;">Update your location to make new friends</span>
						</div>
						<li>
							<div style="padding: 10px;">
								<a href="/Profile/GeneralSetting" data-ajax="?link1=setting&amp;page=profile-setting">Settings</a>
							</div>
						</li>
						<li><div class="clear"></div></li>
					</ul>
					}
					<ul class="list-group sun_side_widget" id="sidebar-request-list-container">
						<li class="list-group-item text-muted hidden" contenteditable="false">Suggest Friend</li>
						<div style="padding: 10px;margin: 0px;">
							<i class="fa fa-user-plus"></i>
							<span style="color:#333;font-weight: bold;">
								Add new friends to practice English
							</span>
						</div>
						<li>
							<div class="sidebar-suggest-user sun_prof_foll_ing">
							</div>
						</li>
						<li><div class="clear"></div></li>
					</ul>

					<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
						<div class="sidebar">
							<div class="page-margin">
								<div class="footer-wrapper sidebar">
									<ul class="list-inline pull-left">
										<li><a href="https://engnestasia.s3-ap-southeast-1.amazonaws.com/DataPolicy.pdf" target="_blank">Privacy</a></li>
										<li><a href="https://engnestasia.s3-ap-southeast-1.amazonaws.com/Termconditions.pdf" target="_blank">Terms & Condition</a></li>
									</ul>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section scripts {
	@*<script type="text/javascript">
		//<![CDATA[
		$(document).ready(function () {

			$("#jquery_jplayer_1").jPlayer({
				ready: function (event) {
					$(this).jPlayer("setMedia", {
						title: "Bubble",
						m4a: "http://jplayer.org/audio/m4a/Miaow-07-Bubble.m4a",
						oga: "http://jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
					});
				},
				swfPath: "../../dist/jplayer",
				supplied: "m4a, oga",
				wmode: "window",
				useStateClassSkin: true,
				autoBlur: false,
				smoothPlayBar: true,
				keyEnabled: true,
				remainingDuration: true,
				toggleDuration: true
			});
		});
		//]]>
	</script>*@
<script>
		var dateGetPost = "";
	$(document).ready(function () {
		var Category = '@Model.Profile.Category';
		$("#Hobbies option").each((index,item) => {
			if (Category.includes($(item).val())) {
				$(item).attr("selected","selected");
			};
		});
			$('.ui.normal.dropdown')
				.dropdown({
				  search:true
			  })
			LoadMorePost();
			LoadListGroup();
			$(window).scroll(function (event) {
			if (($(window).scrollTop() + 500) > $("#posts").height() && checkLoadPost == false)
				LoadMorePost(dateGetPost);
		});
		});
		function LoadMorePost(date) {
		checkLoadPost = true;
        $.ajax({
            url: "/Home/LoadMorePost",
            type: "GET",
            data: { date: date },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					if (date == undefined && result.data.length != 0) {
						$("#empty_post").hide();
					}
					if (result.data.length == 0) {
						checkLoadPost = true;
						$(".load-more").show();
						return;
					}
					if (result.data.length < 10) {
						checkLoadPost = true;
						$(".load-more").show();
					}
					$(".load-more").hide();
					dateGetPost = parseInt(result.data[result.data.length - 1].CreatedTime.substr(6)) ;
					let tmpl = $('#my-template').html();
					var commenttp = $('#comment-template').html();
					Mustache.parse(tmpl);
					Mustache.parse(commenttp);
					result.data.forEach((item) => {
						if (item.CreatedTime != null) {
							item.CreatedTime = time_ago(new Date(parseInt(item.CreatedTime.substr(6))));
						}
						if(item.UserId == '@Model.Profile.ID')
							item.delete = true;
						let rendered = Mustache.render(tmpl, item);
						$("#posts").append(rendered);
						item.ListComments.forEach((comment) => {
							if (comment.CreatedTime != null) {
								comment.CreatedTime = time_ago(new Date(parseInt(comment.CreatedTime.substr(6))));
							}
							var rendercomment = Mustache.render(commenttp, comment);
							$("#comments-list-" + item.Id).append(rendercomment);
						});
						if(item.StatusEmotion == 1)
							$("#LikeAction_" + item.Id).addClass("active-like");
					});
					var ids = result.data.map(function(item) {
					  return item['Id'];
					});
					LoadMoreComment(ids, "", 3);
				}
				else {
				}
				checkLoadPost = false;
            },
			error: function (data) {
				checkLoadPost = false;
            }
		});
		GetSuggestFriend("",true,"@Model.Profile.Category");
	}
		function GetSuggestFriend(query,location,category) {
		$.ajax({
            url: "/Profile/GetSuggestFriend",
            type: "POST",
			data: {query:query,location:location,category :category},
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					$(".sidebar-suggest-user").empty();
					$("#count-suggest-user").html(result.data.length)
					for (var i = 0; i < result.data.length; i++) {
						var item = result.data[i];
						if (item == undefined)
							break;
						var type = '';
						if (i > 8)
							type = 'hidden';
						var sugget = '';
						if (item.Suggest == @TypeSuggest.LOCATION)
							sugget = 'Near you';
						else if (item.Suggest == @TypeSuggest.CATEGORY)
							sugget = 'Mutual hobbies';
						else if (item.Suggest == @TypeSuggest.BOTH)
							sugget = 'Near you and mutual hobbies';
						var html = '<div class="sidebar-user-data '+type+'">'+
									   '<div class="sidebar-listed-user-avatar">'+
											 '<a class="avatarc" href="/profile?id='+item.Id+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
												'<img src="'+item.Avatar+'">'+
											 '</a>'+
											 '<a href="/profile?id='+item.Id+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
							'<div data-toggle="tooltip" data-placement="bottom" title="'+item.NickName+'" class="sidebar-listed-user-name">' + item.NickName + '</div>' +
							'<div data-toggle="tooltip" data-placement="bottom" title="'+sugget+'" class="sidebar-listed-user-name sugget" >' + sugget + '</div>' +
											 '</a>'+
									   '</div>'+
							'</div>';
						$(".sidebar-suggest-user").append(html);
					}
					if (result.data.length > 9) {
						var html = '<h4><a style="text-align: center;display:block;" onclick="ViewMoreSuggest()" class=" ViewMoreSuggest sun_side_widget_title">View more</a></h4>';
						$(".sidebar-suggest-user").append(html);
					}
					$('[data-toggle="tooltip"]').tooltip(); 
				}
            },
            error: function (data) {
            }

			});
	}
	function ViewMoreSuggest() {
		var count = $(".sidebar-suggest-user .hidden").length;
		for (var i = 0; i < count && i<9; i++) {
			$($(".sidebar-suggest-user .hidden")[0]).removeClass('hidden');
		}
		if ($(".sidebar-suggest-user .hidden").length == 0) {
			$(".ViewMoreSuggest").remove();
		}
	}
	function LoadListGroup() {
        $.ajax({
            url: "/Group/LoadListGroup",
            type: "GET",
            data: { },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					result.data.forEach((item) => {
						var html = '<li>'+
									'<a  data-toggle="tooltip" data-placement="bottom" title="'+ item.GroupName +'" href="/Group?id='+item.ID+'" data-ajax="?index.php?link1=home">'+
										'<i class="fa fa-users" aria-hidden="true" style="padding: 5px 5px 5px 0px;font-size: 15px;"></i>'+ item.GroupName +
									'</a>'+
							'</li>';
						if(item.TypeMember == '@TypeMember.ADMIN')
							$(".manage-group").append(html);
						else if(item.TypeMember == '@TypeMember.MEMBER')
							$(".you-in-group").append(html);
					});
					if ($(".you-in-group li").length == 1)
						$(".you-in-group").hide();
					if ($(".manage-group li").length == 1)
						$(".manage-group").hide();
				}
            },
			error: function (data) {
            }
        });
		}
	function SaveHobbies() {
        $.ajax({
            url: "/Profile/SaveHobbies",
			type: "POST",
			data: { data: $("#Hobbies").val().join(',') },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					EngnestFlash.notice("Done!");
				}
				else {
					EngnestFlash.error("Error!");
				}
            },
			error: function (data) {
				EngnestFlash.error("Error!");
            }
        });
	}

</script>
}
