@using Engnest.Entities.Common;
@model Engnest.Entities.ViewModels.ProfileModel
<div class="content-container container-fluid" style="transform: none; margin-top: 25px;">
	<div class="ad-placement-header-footer">
	</div>
	<div id="contnet" style="transform: none;">
		<style>
			.post-youtube iframe {
				overflow: hidden !important;
				height: 360px !important;
			}

			.sun_side_widget_title .fa-picture-o, .split-link .fa-picture-o {
				/*color: green;*/
				font-size: 20px;
				margin-right: 10px;
			}

			.sun_profile_container i.fa-search {
				left: 10px;
				position: absolute;
				top: 12px;
				font-size: 20px;
			}
		</style>
		<div class="row page-margin profile wo_user_profile" data-page="timeline" data-id="1961">
			<div class="sun_profile_header_area">
				<div class="cardheader user-cover">
					<div class="user-cover-reposition-container">
						<div class="user-cover-reposition-w">
							<img id="cover-image" onclick="OpenLightBox('@Model.BackGround','cover-image')" src="@Model.BackGround" alt="@Model.NickName Cover Image" class="pointer">
						</div>
					</div>
				</div>
			</div>

			<div class="row sun_profile_container">
				<div class="col-md-3 sun_col-md-3 no-padding-right">
					<div class="sun_side_widget">
						<div class="sun_pic_info text-center" style="padding-bottom: 10px;">
							<div class="user-avatar flip ">
								<img id="updateImage-@Model.ID" class="pointer" onclick="OpenLightBox('@Model.Avatar','updateImage-@Model.ID')" alt="@Model.NickName Profile Picture" src="@Model.Avatar">
								<!--Online/Offline-->
								@*<span class="sun_status online " title="Online"></span>*@
								<span class="btn-file sun_user_actions_item @ViewBag.ClassUpdate" style="margin-top: -30px;width: 30px;height: 30px;" title="Sửa">
									<i class="fa fa-picture-o fa2" style="font-size: 18px;" aria-hidden="true"></i>
									<input type="file" onchange="UploadAvatar(this,'Profile')" data-holder="photo-form-53" data-photos="image-holder-comment-53" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]">
								</span>
							</div>
							<div class="info">
								<div class="title">
									<div>@Model.NickName</div>
								</div>
							</div>
							@if (ViewBag.ClassUpdate == "hidden")
							{
								<div class="opt_buttons">
									<span class="user-follow-button">
										<span id="Follow-@Model.ID">
											@if (ViewBag.IsFriend == StatusRequestFriend.CANCEL)
											{
												<button type="button" onclick="AddFriend('@Model.ID',@StatusRequestFriend.SENDING)" class="btn btn-default btn-sm wo_follow_btn" id="wo_useract_btn">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
													<span class="button-text">Add Friend</span>
												</button>
											}
											else if (ViewBag.IsFriend == StatusRequestFriend.ACCEPT)
											{
												<button type="button" onclick="AddFriend('@Model.ID',@StatusRequestFriend.CANCEL)" class="btn btn-active btn-default btn-sm wo_following_btn" id="wo_useract_btn">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
													<span class="button-text">Friends</span>
												</button>
											}
											else if (ViewBag.IsFriend == StatusRequestFriend.SENDING)
											{
												<button type="button" onclick="AddFriend('@Model.ID',@StatusRequestFriend.REJECT)" readonly class="btn btn-active btn-default btn-sm wo_following_btn" id="wo_useract_btn">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
													<span class="button-text">Request sending</span>
												</button>
											}
										</span>
									</span>
									<span class="profile-message-btn">
										<button type="button" class="btn btn-default btn-sm" onclick="OpenChatTab('@Model.ID');">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
											<span class="button-text"> Message</span>
										</button>
									</span>
								</div>
							}
						</div>

						<p class="sun_user_desc">
						</p>


					</div>

					<!-- Profile Percentage System -->
					<div class="sun_side_widget mini">
						<h3 class="sun_side_widget_title"><i class="fa fa-picture-o" aria-hidden="true"></i> <a href="https://biztime.com.vn/0dc53e223/photos" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=photos">Ảnh</a></h3>
						<div id="photos-list" class="user_media_list_section">
							<h5 class="search-filter-center-text empty_state" style="margin: 80px auto;"><i class="fa fa-camera" aria-hidden="true"></i> Chưa có bức ảnh nào</h5>
						</div>
					</div>
				</div>

				<div class="col-md-6 sun_col-md-6 no-padding-right">
					<div class="sun_side_widget" style="margin-bottom:0px;display:none">
						<div class="sun_user_nav">
							<ul class="list-unstyled mb0">
								<li>
									<a href="https://biztime.com.vn/0dc53e223" data-ajax="?link1=timeline&amp;u=0dc53e223" class="active">
										<span class="split-link"><i class="fa fa-user" aria-hidden="true"></i></span>
										<span>Timeline</span>
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/0dc53e223/photos" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=photos">
										<span class="split-link"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
										<span>Ảnh</span>
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/0dc53e223/videos" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=videos">
										<span class="split-link"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
										<span>Video</span>
									</a>
								</li>
								<li>
									<a href="https://biztime.com.vn/0dc53e223/likes" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=likes">
										<span class="split-link"><i class="fa fa-file-audio-o" aria-hidden="true"></i></span>
										<span>Audio</span>
									</a>
								</li>

							</ul>
						</div>
					</div>

					<div class="content-container container" style="transform: none;margin-top:0px;">
						<div class="ad-placement-header-footer">
						</div>
						<div id="contnet" style="transform: none;">
							<div class="page-margin" style="transform: none;">
								<div class="row" style="transform: none;">
									<div class="profile-lists middlecol">

										<form action="#" method="post" class="post publisher-box" id="publisher-box-focus">
											<div class="panel post panel-shadow sun_pub_box">
												<div id="post-textarea" onclick="Wo_ShowPosInfo();">
													<img class="post-avatar" src="@Model.Avatar">
													<div class="sun_pub_name">
														<span>@Model.NickName</span>
													</div>
													<i class="fa fa-spinner fa-spin" id="loading_indicator"></i>
													<textarea name="postText" class="form-control postText ui-autocomplete-input" cols="10" rows="3" placeholder="Share what you think, interact with people …" dir="auto" style="height: 112px;" autocomplete="off"></textarea>
													<!--Add Emojis-->
												</div>
												<!--Publisher Box Footer-->
												<div id="image-holder" style="position:relative;">
													<div id="album-form">
														<div class="publisher-hidden-option">
															<input name="album_name" type="text" class="form-control" placeholder="Album name">
														</div>
													</div>
													<div class="publisher-hidden-option" id="photo-form">
														<div style="overflow-x: auto;"><div id="image-holder-post"></div></div>
													</div>
													<div class="publisher-hidden-option" id="video-form">
														<div style="overflow-x: auto;"><div id="video-holder-post"></div></div>
													</div>
													<div class="publisher-hidden-option" id="audio-form">
														<div style="overflow-x: auto;"><div id="audio-holder-post"></div></div>
													</div>
												</div>


												<!--Publisher Box Footer-->
												<div class="publisher-box-footer">

													<div class="sun_pub_more">
														<div class="sun_pub_more_items">
															<!--Uploaded Image-->
															<div class="poster-left-buttons">
																<span class="btn btn-file img">
																	<span>
																		<i class="fa fa-picture-o fa2" aria-hidden="true" style="font-size: 20px;color: #4d91ea;"></i>
																	</span>
																	Pictures
																	<input type="file" class="publisher-photos" data-photos="image-holder-post" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]" multiple="multiple">
																</span>
															</div>

														</div>
														<div class="sun_pub_more_items">
															<!--Uploaded Image-->
															<div class="poster-left-buttons">
																<span class="btn btn-file img">
																	<span>
																		<img src="/assets/images/video-player.svg" alt="Pictures">
																	</span>
																	Video
																	<input onchange="GetVideo(this)" type="file" id="upload-video" data-photos="image-holder-post" accept="" name="video" multiple="multiple">
																</span>
															</div>

														</div>
														<!--Record Audio-->
														<div data-audio="audio-holder-post" class="sun_pub_more_items" id="recordPostAudioWrapper">
															<div class="poster-left-buttons">
																<span class="btn btn-file rec">
																	<span id="recordPostAudio" data-audio="audio-holder-post" data-record="0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mic"><path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path><path d="M19 10v2a7 7 0 0 1-14 0v-2"></path><line x1="12" y1="19" x2="12" y2="23"></line><line x1="8" y1="23" x2="16" y2="23"></line></svg></span> Record
																</span>
																<span id="postRecordingTime" class="hidden">00:00</span>
															</div>
														</div>
													</div>

													<div class="pub-footer-bottom">
														<div class="pull-right">
															<button type="button" onclick="PushPost(@Model.ID,@TypePost.USER)" id="publisher-button" class="btn btn-main">
																<span>Share</span>
															</button>
														</div>

														<div class="pull-right"><div class="ball-pulse"><div></div><div></div><div></div></div></div>

														<div id="status"></div>

														<div class="pull-left">
															<div class="poster-left-select">
																<div class="publisher-hidden-option inputsm">
																	<div class="sun_pub_privacy">
																		<div class="sun_pub_privacy_dropdown">
																			<p style="margin-right: 10px;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Public</p>
																			@*<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg>*@

																		</div>
																		@*<ul class="sun_pub_privacy_menu">
																			<li>
																				<label>
																					<input type="radio" class="option-input radio" name="postPrivacy" id="3" value="3">
																					<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z"></path></svg> Chỉ Mình Tôi</span>
																				</label>
																			</li>
																			<li>
																				<label>
																					<input type="radio" class="option-input radio" name="postPrivacy" id="0" value="0" checked="">
																					<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"></path></svg> Public</span>
																				</label>
																			</li>
																			<li>
																				<label>
																					<input type="radio" class="option-input radio" name="postPrivacy" id="1" value="1">
																					<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16,13C15.71,13 15.38,13 15.03,13.05C16.19,13.89 17,15 17,16.5V19H23V16.5C23,14.17 18.33,13 16,13M8,13C5.67,13 1,14.17 1,16.5V19H15V16.5C15,14.17 10.33,13 8,13M8,11A3,3 0 0,0 11,8A3,3 0 0,0 8,5A3,3 0 0,0 5,8A3,3 0 0,0 8,11M16,11A3,3 0 0,0 19,8A3,3 0 0,0 16,5A3,3 0 0,0 13,8A3,3 0 0,0 16,11Z"></path></svg> Bạn của tôi</span>
																				</label>
																			</li>
																		</ul>*@
																	</div>
																</div>
															</div>
														</div>

														@*<div class="pull-left charsLeft-post"><span id="charsLeft">5000</span></div>*@

														<div class="clear"></div>
													</div>
												</div>
											</div>
											<input type="hidden" name="hash_id" value="83c1b24c6399b8284b114fb23fa4a965446d27fc">
											<input type="hidden" name="postRecord" value="" id="postRecord">
											<input type="hidden" name="postSticker" value="" id="postSticker" onchange="alert(this.value)">
										</form>
										<div id="posts"></div>
										<div class="load-more pointer" style="display:none;">
											<div class="white-loading list-group">
												<div class="no-more-posts-to-show">No more posts</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="load-more-filter">
						<span class="filter-by-more hidden" data-filter-by="all"></span>
					</div>
				</div>

				<div class="col-md-3">
					<div class="sun_user_actions">
						<span class="btn-file sun_user_actions_item @ViewBag.ClassUpdate" title="Sửa">
							<i class="fa fa-picture-o fa2" style="font-size: 18px;" aria-hidden="true"></i>
							<input type="file" onchange="UploadBackGround(this,'Profile')" data-holder="photo-form-53" data-photos="image-holder-comment-53" accept="image/x-png, image/gif, image/jpeg" name="postPhotos[]">
						</span>
					</div>

					@*<ul class="list-group sun_side_widget">
							<li class="list-group-item text-muted search-for-posts-container hidden" contenteditable="false"><i class="fa fa-search progress-icon fa-fw" data-icon="search"></i></li>
							<li class="form-group inner-addon" style="margin-bottom: 0px;padding: 5px;">
								<i class="fa fa-search"></i>
								<input type="text" class="form-control search-for-posts" onkeyup="Wo_SearchForPosts(this.value);" placeholder="Tìm bài đăng" style="padding-left: 37px;padding-right: 37px;">
							</li>
						</ul>*@
					<ul class="list-group sun_side_widget" id="sidebar-followers-list-container">
						<li class="list-group-item text-muted hidden" contenteditable="false">Friends</li>
						<h3 class="sun_side_widget_title">
							<i class="fa fa-user-plus"></i>
							<a href="/@Model.ID/followers" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=followers">Friends</a>
							<span id="count-friend"></span>
						</h3>
						<li>
							<div class="sidebar-followers-users-container sun_prof_foll_ing">
							</div>
						</li>
						<li><div class="clear"></div></li>
					</ul>
					<ul class="list-group sun_side_widget" id="sidebar-pages-list-container">
						<li class="list-group-item text-muted hidden" contenteditable="false">More info</li>
						<h3 class="sun_side_widget_title">
							<i class="fa fa-users" aria-hidden="true"></i>
							<a href="/@Model.ID/groups" data-ajax="?link1=timeline&amp;u=0dc53e223&amp;type=likes">Groups</a>
							<span id="count-group"></span>
						</h3>
						<li>
							<div class="sidebar-likes-container sun_prof_foll_ing">
							</div>
						</li>
						<li><div class="clear"></div></li>
					</ul>
					<div class="page-margin">
						<div class="footer-wrapper sidebar">
							<ul class="list-inline pull-left">
								<li><a href="https://engnestasia.s3-ap-southeast-1.amazonaws.com/DataPolicy.pdf" target="_blank">Privacy</a></li>
								<li><a href="https://engnestasia.s3-ap-southeast-1.amazonaws.com/Termconditions.pdf" target="_blank">Terms & Condition</a></li>
							</ul>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
@section scripts {
	<script>
		var dateGetPost = "";
		$(document).ready(function () {
			LoadMorePost();
			$(window).scroll(function (event) {
				if (($(window).scrollTop() + 500) > $("#posts").height() && checkLoadPost == false)
					LoadMorePost(dateGetPost);
			});
			$.ajax({
				url: "/Profile/LoadGroup",
				type: "POST",
				data: {id:@Model.ID},
				dataType: "json",
				success: function (result) {
					if (result.result == @Constant.SUCCESS) {
						$("#count-group").html(result.data.length)
						for (var i = 0; i < 3; i++) {
							var item = result.data[i];
							if (item == undefined)
								break;
							var html = '<div class="sidebar-user-data">'+
										   '<div class="sidebar-listed-user-avatar">'+
												 '<a class="avatarc" href="/Group?id='+item.ID+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
													'<img src="'+item.Avatar+'">'+
												 '</a>'+
												 '<a href="/Group?id='+item.Id+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
													'<div class="sidebar-listed-user-name">'+item.GroupName+'</div>'+
												 '</a>'+
										   '</div>'+
								'</div>';
							$(".sidebar-likes-container").append(html);
						}
					}
				},
				error: function (data) {
				}
			});
			$.ajax({
				url: "/Profile/LoadFriend",
				type: "POST",
				data: {id:@Model.ID},
				dataType: "json",
				success: function (result) {
					if (result.result == @Constant.SUCCESS) {
						$("#count-friend").html(result.data.length)
						for (var i = 0; i < 3; i++) {
							var item = result.data[i];
							if (item == undefined)
								break;
							var html = '<div class="sidebar-user-data">'+
											'<div class="sidebar-listed-user-avatar">'+
													'<a class="avatarc" href="/profile?id='+item.Id+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
													'<img src="'+item.Avatar+'">'+
													'</a>'+
													'<a href="/profile?id='+item.Id+'" data-ajax="?link1=timeline&amp;u=heroonl">'+
													'<div class="sidebar-listed-user-name">'+item.NickName+'</div>'+
													'</a>'+
											'</div>'+
								'</div>';
							$(".sidebar-followers-users-container").append(html);
						}
					}
				},
				error: function (data) {
				}
			});
			$.ajax({
				url: "/Home/LoadImage",
				type: "POST",
				data: {id:@Model.ID},
				dataType: "json",
				success: function (result) {
					if (result.result == @Constant.SUCCESS) {
						if (result.data.length > 0)
							$("#photos-list").empty();
						var index = 0;
						for (var i = 0; i < result.data.length; i++) {
							for (var j = 0; j < result.data[i].ListImages.length; j++) {
								if (index == 6)
									break;
								index += 1;
								var html = '<div class="text-center photo-data" data-photo-id="337380">'+
                                    		'<a href="javascript:void(0)" onclick="OpenLightBox(\''+result.data[i].ListImages[j]+'\',\'image_'+index+'\')"><img src="'+ result.data[i].ListImages[j] +'" alt="'+ result.data[i].ListImages[j]+'"></a>'+
										'</div>'; 
								$("#photos-list").append(html);
							}
						}
					}
				},
				error: function (data) {
				}
			});
		});

		function LoadMorePost(date) {
		checkLoadPost = true;
        $.ajax({
            url: "/Home/LoadMorePost",
            type: "GET",
            data: { date: date,id:@Model.ID },
            dataType: "json",
            success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					if (date == undefined && result.data.length != 0) {
						$("#empty_post").hide();
					}
					if (result.data.length == 0) {
						checkLoadPost = true;
						$(".load-more").show();
						return;
					}
					if (result.data.length < 10) {
						checkLoadPost = true;
						$(".load-more").show();
					}
					$(".load-more").hide();
					dateGetPost = parseInt(result.data[result.data.length - 1].CreatedTime.substr(6)) ;
					let tmpl = $('#my-template').html();
					var commenttp = $('#comment-template').html();
					Mustache.parse(tmpl);
					Mustache.parse(commenttp);
					result.data.forEach((item) => {
						if (item.CreatedTime != null) {
							item.CreatedTime = time_ago(new Date(parseInt(item.CreatedTime.substr(6))));
						}
						item.delete = '@ViewBag.ClassUpdate' != 'hidden' ? true : false;
						let rendered = Mustache.render(tmpl, item);
						$("#posts").append(rendered);
						item.ListComments.forEach((comment) => {
							if (comment.CreatedTime != null) {
								comment.CreatedTime = time_ago(new Date(parseInt(comment.CreatedTime.substr(6))));
							}
							var rendercomment = Mustache.render(commenttp, comment);
							$("#comments-list-" + item.Id).append(rendercomment);
						});
						if(item.StatusEmotion == 1)
							$("#LikeAction_" + item.Id).addClass("active-like");
					});
					var ids = result.data.map(function(item) {
					  return item['Id'];
					});
					LoadMoreComment(ids, "", 3);
				}
				else {
				}
				checkLoadPost = false;
            },
			error: function (data) {
				checkLoadPost = false;
            }
        });
		}
	function AddFriend(id, type) {
		if (type == @StatusRequestFriend.CANCEL) {
			var r = confirm("Do you want to unfriend?");
			if (r != true) {
				return;
			} 
		}
		if (type == @StatusRequestFriend.REJECT) {
			var r = confirm("Do you want cancel request sending?");
			if (r != true) {
				return;
			} 
			type = @StatusRequestFriend.CANCEL;
		}
		$.ajax({
			url: "/Profile/AddFriend",
			type: "POST",
			data: {id: id,type:type},
			dataType: "json",
			success: function (result) {
				if (result.result == @Constant.SUCCESS) {
					EngnestFlash.notice("Done!");
					window.location.reload();
				}
				else {
					EngnestFlash.notice("Error!");
				}
			},
			error: function (data) {
				EngnestFlash.notice("Error!");
			}
		});
	}
	</script>

}